body {
  background-color: hsl(212deg 100% 4%) !important;
  color: #ffffff !important;
}

button::-moz-focus-inner {
  border: 0;
}

.navbar {
  background-color: hsl(212deg 100% 1%) !important;
}

.navbar-brand {
  color: #cebe94 !important;
}

a {
  color: #ffff !important;
  outline: none;
}

h2 {
  font-family: "Ubuntu";
  font-size: 50px;
  line-height: 65px;
}

.locale-changer {
  margin-top: 8px;
  color: white;
  float: right;
  margin-bottom: 20px;
}

.locale-changer select {
  background: #dcdcdc;
  width: 50px;
  text-align: center;
  border: 3px black;
  border-radius: 2px;
  height: 29px;
}

.locale-changer i {
  color: #ffff;
}

button {
  outline: none;
}

button:focus {
  outline: none !important;
}

/* TIERLIST CSS */

.tierlist-div .row {
  height: 96px;
  border: solid 1px #dedede; /* the official color of smash */
  border-bottom: 0;
  text-align: left;
}

.tierlist-div .rowPM {
  height: 56px;
}

.tierlist-div .last {
  border-bottom: solid 1px #dedede;
}

.tierlist-div input[type="text"] {
  height: 94px;
  width: 2%;
  text-align: center;
  border: none;
  font-weight: 600;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.tierlist-div input[type="text"].levelPM {
  height: 54px;
}

.tier {
  width: 90%;
  height: 96px;
  display: inline-block;
  white-space: nowrap;
}

.placeholder4 {
  height: 96px;
  width: 96px;
  background-color: #dedede;
}

.tier1 {
  background-color: #ed6764;
}
.tier2 {
  background-color: #f88157;
}
.tier3 {
  background-color: #eae286;
}
.tier4 {
  background-color: #8abc6e;
}
.tier5 {
  background-color: #779fde;
}
.tier6 {
  background-color: #627ee0;
}
.tier7 {
  background-color: #c86acb;
}

#char4 {
  width: 100%;
  margin: 10px auto;
}

.sortable-characters {
  padding-top: 25px;
}

.tierlist-div img {
  width: 94px;
  height: 94px;
}

/* FRAMEDATA CSS */

.champCardHolder {
  width: 40%;
}

.champCardImg {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* MatchRow */

.match-row {
  background: yellow;
  border-radius: 30px;
  margin-top: 30px;
}

.btn-light {
  background-color: transparent !important;
  border: 1px solid transparent !important;
  width: 100% !important;
  box-shadow: none !important;
}
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: none !important;
}

.character-name {
  font-family: "Ubuntu";
  font-size: 3vw;
  line-height: 65px;
}

.player1-zone,
.versus-zone,
.player2-zone {
  float: left;
}

.player1-zone {
  text-align: left;
}

.versus-zone {
  text-align: center;
}

.player2-zone {
  text-align: right;
}

.versus-img {
  max-width: 50%;
}

.character-render {
  max-width: 100%;
}

.player1-character-zone {
  max-width: 50%;
  float: left;
}

.player2-character-zone {
  max-width: 50%;
  float: right;
}

.player1-player-name,
.player2-player-name {
  max-width: 50%;
  float: right;
}

.player2-player-name {
  max-width: 50%;
  float: left;
}

.game-version {
  font-size: 11px;
  font-family: "Vollkorn";
}

.youtube-holder {
  margin: 0 100px;
}

.youtube-holder div iframe {
  max-width: 100%;
}

.card {
  display: block !important;
  background-color: transparent !important;
}

.app {
  transition: 0.3s ease;
  padding-left: 350px;
}

.collapsed {
  padding-left: 0;
  transition: 0.3s ease;
}
.vsm--logoheader {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}

.lazyImage {
  width: 100px;
  height: 100px;
}

.character-select {
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.character-select li {
  width: 150px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player2-character-zone .character-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* Submit Vod */

.form-group {
  display: inline-block;
  width: 100%;
}

.half-input-left {
  width: 48% !important;
  float: left;
}
.half-input-right {
  width: 48% !important;
  float: right;
}

.radio-toggle-button {
  width: 33.333333333333333%;
  text-align: center;
}

.autosuggest__results-container {
  position: relative;
  width: 100%;
}

.autosuggest__results ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  background-color: white;
  color: black;
  position: absolute;
  z-index: 99;
  width: 100%;
  cursor: pointer;
}

.autosuggest__results ul li {
  padding-left: 10px;
}

.autosuggest__results ul li:hover {
  background-color: #007bff;
}